@media (min-width: 300px) {
	.ant-card.ant-card-bordered {
		width: 100%;
	}
	.login-form-forgot {
		float: right;
	}
	.ant-col-rtl .login-form-forgot {
		float: left;
	}
	.login-form-button {
		width: 100%;
	}
}

@media (min-width: 700px) {
	#root > div > div > div.landing-form > div > div.ant-card-body {
		padding-left: 100px;
		padding-right: 100px;
	}
	.ant-card.ant-card-bordered {
		width: 100%;
	}

	.login-form-forgot {
		float: right;
	}
	.ant-col-rtl .login-form-forgot {
		float: left;
	}
	.login-form-button {
		width: 100%;
	}
}

.ant-card.ant-card-bordered {
	width: 100%;
}
