.title {
	color: black;
	font-family: "Courier New", Courier, monospace;
	font-size: 80px;
	padding-top: 100px;
}

.list-container {
	display: flex;
	align-content: center;
	margin: auto;
}

/* .ant-card.ant-card-bordered {
	border-radius: 10px;
	width: 800px;
}  */
