header.ant-layout-header.header-light {
	background-color: whitesmoke;
	display: flex;
	justify-content: space-between;
}

li.ant-menu-item.ant-menu-item-only-child {
	background-color: teal;
}

li.ant-menu-item.ant-menu-item-only-child {
	background: transparent;
}

.logo {
	width: 100px;
}

header.ant-layout-header.header-light {
	background-color: teal;
	display: flex;
	justify-content: space-between;
}

.li.ant-menu-item.ant-menu-item-only-child {
	background-color: teal;
}
