:root {
	--main-bg-color: #fffff;
	--main-txt-color: blue;
	--main-padding: 0px;
}

.mainfront {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.front {
	align-self: center;
	justify-content: center;
	justify-self: center;
	text-align: center;
}

.langing-title {
	font-size: 60px;
	color: #fff;
}
.landing-msj-container {
	padding-left: 80px;
}

.langing-msj {
	color: #fff;
	font-size: 50px;
}
.landing-btn {
	align-self: center;
	margin: 30px;
	margin-bottom: 70px;
	align-content: center;
	text-align: center;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: red;
	padding: 0px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container {
	padding: 10px;
}

.site-page-header {
	border: 1px solid 48a1af;
}
